@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212529;
}

.container {
  width: min(90%, 1300px);
  margin: 0 auto;
}

.btn {
  border: none;
  padding: 0.7rem 0.8rem;
  border-radius: 5px;
}

header {
  height: 5rem;
  width: 100%;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
  color: rgb(33, 37, 41);
  display: flex;
  align-items: center;
}




.top-header{
  height: auto;
  background-color: #212934;
  color: #cfd6e1
  ;
  padding: .5rem 0;
  font-size: 0.75rem;
  font-weight: 300;
}

.top{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 7rem;
}

.top-header-icons{
  display: flex;
  gap: 1rem;
}

.top-header-icons i{
 font-size: 0.6875rem;
 font-weight: 300;
}


.flex-info{
  display: flex;
  gap: 1rem;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.menu .logo a {
  color: rgb(89, 171, 110);
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 500;
  text-decoration: none;
  padding-top: 0.3125rem;
}

.menu-link {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.menu-link a {
  text-decoration: none;
  color: rgb(33, 41, 52);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.6875;
}

.menu-link a:hover {
  color: #69bb7e;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  gap: 2rem;
  font-weight: 900;
}

.icons .cart {
  position: relative;
}
.icons .profile {
  position: relative;
}

.icons .cart span,
.icons .profile span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -15px;
  background-color: rgb(233, 238, 245);
  color: rgb(33, 37, 41);
  border-radius: 1rem;
  width: 0.84rem;
  height: 1.4rem;
  font-size: 0.84rem;
  padding: 0.29rem 0.54rem;
}

.icons .profile span {
  width: 0.84rem;
  right: -27px;
  font-size: 0.84rem;
  padding: 0.2rem 1.2rem;
}

.search-bar input {
  display: none;
}

.hero-section {
  margin-bottom: 2rem;
  color: #212529;
  background-color: #efefef;
  display: flex;
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-info .title {
  font-size: 3rem;
  line-height: 3.625rem;
  font-weight: 200;
  color: #59ab6e;
}

.hero-info .title span {
  font-weight: 400;
}

.hero-info .sub-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 300;
}

.hero-info .desc {
  font-size: 1.25rem;
  line-height: 1.6875rem;
  font-weight: 300;
  text-align: start;
}

.hero-info .desc span {
  color: #59ab6e;
  text-decoration: underline;
}



.Categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.title {
  font-size: 3rem;
  line-height: 3.625rem;
  font-weight: 200;
}

.desc {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 300;
  text-align: center;
}

.Categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 4rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.Categories img {
  border-radius: 50%;
  width: 21.3125rem;
  height: 21.3125rem;
}

.Categories-section .title {
  font-weight: 200;
  text-align: center;
}

.Categories .btn {
  font-size: 1.125rem;
  color: white;
  background-color: #59ab6e;
}

.featured-section {
  background-color: #e9eef5;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.featured {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

}

.product {
  width: 23rem;
  height: auto;
  background: white;
  border: 1px solid #dfdfdf;
}

.products {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.product-info {
  height: auto;
  padding: 0.5rem 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.flex span {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 300;
}

.stars i {
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 900;
  color: #ede861;
}



.product h4 {
  font-size: 1.875rem;
  font-weight: 300;
}

.product .desc {
  text-align: start;
  margin-top: 0.5rem;
}

.review {
  margin-top: 1rem;
  display: block;
  color: #bcbcbc;
  font-size: 1.125rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

footer {
  background-color: #212934;
  color: #cfd6e1;
  padding: 2rem 0;
}

.footer{
display: flex;
flex-direction: column;
justify-content: space-around;

}

.links{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #313b47;
  padding: 2rem 0;


}

footer h4{
  font-size: 1.875rem;
  font-weight: 300;
  border-bottom: 1px solid #313b47;
  padding: .5rem 0;
  margin-bottom: 1rem;
}

footer .zay{
  color: #59ab6e;
}


footer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

footer a {
  color: #cfd6e1;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6875rem;
  text-decoration: none;
}

.mail-icons{
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  margin-top: 2rem;
}



.contact-icons{
  display: flex;
  gap: 1rem;
}

.contact-icons i{
  border: 1px solid #313b47;
  padding: 0.5rem;
  border-radius: 50%;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.125rem;
}


.mail{
  display: flex;
}


.mail input{
  padding: .6rem;
  background: transparent;
  border: 1px solid #313b47;
}


.mail label{
  padding: .5rem;
  background-color: #59ab6e;
}


@media (max-width: 900px) {

  /* header */
  header {
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 10%;
    top: 7%;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.55);
    cursor: pointer;
  }

  .menu h1 {
    border-bottom: 1px solid gray;
    padding-bottom: 0.4rem;
  }

  .menu {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    transition: transform 0.3s ease-in-out;
  }

  .menu-link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-link,
  .icons {
    display: none;
  }

  .menu.active .menu-link,
  .menu.active .icons {
    display: flex;
  }

  .menu-link {
    gap: 1rem;
  }

  .icons {
    margin-bottom: 2rem;
  }

  .search-bar {
    position: relative;
    width: auto;
  }

  .search-bar input {
    width: 100%;
    padding: 0.625rem 2.1875rem 0.625rem 0.625rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
  }

  .search-bar i {
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
  }

  
  .hero-info {
    order: 1;
  }

  .hero img {
    width: 20rem;
    height: auto;
  }


  .hero-info .desc {
    font-size: 1.125rem;
  }
  



  .top-header{
    display: none;
  }


}






/* media query */

@media (max-width: 700px) {
  /* header */
  header {
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 10%;
    top: 7%;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.55);
    cursor: pointer;
  }

  .menu h1 {
    border-bottom: 1px solid gray;
    padding-bottom: 0.4rem;
  }

  .menu {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    transition: transform 0.3s ease-in-out;
  }

  .menu-link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-link,
  .icons {
    display: none;
  }

  .menu.active .menu-link,
  .menu.active .icons {
    display: flex;
  }

  .menu-link {
    gap: 1rem;
  }

  .icons {
    margin-bottom: 2rem;
  }

  .search-bar {
    position: relative;
    width: auto;
  }

  .search-bar input {
    width: 100%;
    padding: 0.625rem 2.1875rem 0.625rem 0.625rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
  }

  .search-bar i {
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
  }

  .hero-info {
    order: 1;
  }

  .hero img {
    width: 20rem;
    height: auto;
  }


  .hero-info .desc {
    font-size: 1.125rem;
  }
  

  .Categories {
    flex-direction: column;
  }


  .products {
    flex-direction: column;
  }

  .links{
    flex-direction: column;
  }

  .mail-icons{
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }

}
